# absl-py==0.7.1
# APScheduler==3.6.0
# astor==0.7.1
# boto==2.49.0
# boto3==1.9.137
# botocore==1.12.137
# certifi==2019.3.9
# chardet==3.0.4
# Click==7.0
# coloredlogs==10.0
# DBUtils==1.3
# docopt==0.6.2
# docutils==0.14
# epointml==0.2.3
# Flask==1.0.2
# Flask-Cors==3.0.7
# Flask-JWT-Simple==0.0.3
# future==0.17.1
# gast==0.2.2
# gensim==3.7.2
# gevent==1.4.0
# greenlet==0.4.15
# grpcio==1.20.1
# h5py==2.9.0
# humanfriendly==4.18
# idna==2.8
# itsdangerous==1.1.0
# jieba==0.39
# Jinja2==2.10.1
# jmespath==0.9.4
# jsonpickle==1.1
# Keras-Applications==1.0.7
# Keras-Preprocessing==1.0.9
# Markdown==3.1
# MarkupSafe==1.1.1
# mock==2.0.0
# numpy==1.18.5
# packaging==19.0
# pbr==5.2.0
# pika==1.0.1
# prompt-toolkit==1.0.14
# protobuf==3.7.1
# Pygments==2.3.1
# PyInquirer==1.0.3
# PyJWT==1.7.1
# pykwalify==1.7.0
# PyMySQL==0.9.3
# pyparsing==2.4.0
# python-dateutil==2.8.0
# pytz==2019.1
# PyYAML==5.1
# regex==2019.4.14
# requests==2.21.0
# ruamel.yaml==0.15.96
# s3transfer==0.2.0
# scikit-learn==0.20.3
# scipy==1.2.1
# simplejson==3.16.0
# six==1.12.0
# sklearn==0.0
# smart-open==1.8.3
# tensorboard==1.14.0
# tensorflow==1.14.0
# tensorflow-estimator==1.14.0
# termcolor==1.1.0
# terminaltables==3.1.0
# tqdm==4.31.1
# tzlocal==1.5.1
# urllib3==1.24.2
# wcwidth==0.1.7
# Werkzeug==0.15.2